@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
    url('../fonts/Gotham-Black.woff') format('woff'),
    url('../fonts/Gotham-Black.ttf') format('truetype'),
    url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
    url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gotham-Black';
    margin: 0;
    padding: 0;
}

#board {
    cursor: pointer;
    width: 100%;
    height: 450px;
}

#pt {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-link,
.banner-link:hover,
.banner-link:focus,
.banner-link:active,
.banner-link:visited,
.banner-link {
    color: #000;
    text-decoration: none;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: #000;
}